@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Mono:400,700');
:root {
  --primary: #0B5A81;
  --secondary: #D94704;
  --dark: #181818;
  --med: #D9E1E5;
  --light: #FFFFFF;
  --title: 'Roboto Mono';
  --content: 'PT Sans';
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 80%;
}

.title {
  font-family: var(--title);
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

section {
  font-family: var(--content);
}

/* navbar */

header {
  width: 100%;
  background: var(--primary);
  position: fixed;
  top: 0;
  z-index: 100;
}

.brand {
  font-family: var(--title);
  color: var(--light);
  display: inline-block;
  font-size: 1.25em;
  padding: 14px 0px;
  font-weight: 700;
}

#navbar {
  display: inline-block;
  float: right;
  height: 100%;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  height: 100%;
  float: left;
}

#navbar li a {
  font-family: var(--title);
  display: block;
  color: var(--light);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* home */

#home {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg");
  background-size: cover;
}

#home #text {
  color: var(--light);
  font-size: 4em;
  margin: 0;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

/* newsletter sign up */

.signup {
  padding: 15px 0;
  background: var(--dark);
}

.signup .title {
  padding: 7px 0;
  color: var(--light);
}

.signup .mail-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup input {
  width: 30%;
  height: 30px;
  margin-right: 7px;
  padding-left: 7px;
  border: none;
  background-color: var(--light);
  font-size: 0.85em;
}

.signup button {
  border: none;
  background: var(--primary);
  color: var(--light);
  font-weight: bold;
}

.signup input, .signup button {
  margin-bottom: 10px;
}

/* content */

#content {
  background: url("https://picsum.photos/1000/500?blur");
  background-size: cover;
  color: var(--light);
}

/* about us */

#about {
  width: 100%;
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
}

/* misson */

#mission {
  width: 100%;
  padding-bottom: 15px;
}

/* seasons */

#seasons .robot {
  width: 100px;
  height: 100px;
  margin-right: 4%;
  background: var(--primary);
  display: inline-block;
}